html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background:var(--base);
}

:root{
    --base:#efe6d5;
    --highlights:#9dbeb7;
    --darks:#e73213;
}

h3{
    text-shadow:0 0 5px black;
    color:var(--base);
    font-size:1.5rem;
}

.screen{
    opacity:20%;
    height:100%;
    width:90%;
    position:absolute;
    z-index:-1;
    border-radius:20%
}

#first{
    background:var(--highlights);
    left:0;
    top:5rem;
}

#second{
    background:var(--darks);
    top:-1rem;
    left:1.5rem;
}

/*styling the view section*/
#view{
    padding:2rem;
    position:relative;
    margin:1rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#movie_list{
    background:var(--darks);
    height:90%;
    width:100%;
    position:absolute;
    right:2rem;
    top:10%;
    border-radius:30%;
    grid-column:2;
    overflow:auto;
}

#filter{
    grid-column:1;
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    gap:0.2rem;
}

#selector{
    background:var(--highlights);
    height:35vh;
    width:40vw;
    margin-top:1rem;
    margin-left:10px;
    border-radius:20px;
    display:block;
    overflow:auto;
}

.details_display{
    font-family:monospace;
    font-size:1.2rem;
    margin:-25px auto;
    padding:1em;
}

.details_display:first-of-type{
    margin-top:10px;
}

/*styling the data displayed from movieData*/
.film_display{
    text-align: center;
    font-size:1.5rem;
    letter-spacing: 0.2rem;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

.film_display:hover{
    transform:scale(1.2);
    text-shadow: 3px 3px 5px var(--highlights);
}

/*!!!!! COME BACK TO THIS !!!!!*/
.film_display:hover .hidden{
    display:block;
    background:var(--highlights);
    height:70%;
    width:20%;
    margin-left:10px;
    position:absolute;
    right:45%;
    top:20%;
    z-index:2;
    border-radius:20%;
    overflow:auto;
}
/*!!!! COME BACK TO THIS !!!!*/


/*styling the interact section and all forms*/
#interact{
    padding:2rem;
    position:relative;
    margin:1rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#fiddle{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    gap:0.2rem;
    grid-column:1;
}

label{
    font-weight:bold;
    margin-top:0.8rem;
    grid-column:1;
}

.input{
    width:80%;
    height:2rem;
    border:none;
    grid-column:1;
}

#mirror{
    grid-column:2;
    display:flex;
    flex-flow:column nowrap;
    gap:1em;
    justify-items:left;
    overflow:auto;
}

.mirror{
    
    width:70%;
    border:none;
    font-family: monospace;
    font-weight:bold;
    font-size:1.5rem;
}

#title-mirror{
    font-size:2rem;
    margin-bottom:1rem;
}

button{
    height:3rem;
    width:5rem;
    font-weight:bold;
    margin:1rem;
    border:none;
    background:var(--base);
    border-radius:50%;
    grid-column:1;
}

button:hover{
    transform:scale(1.5) rotate(15deg);
}