html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background:var(--base);
}

:root{
    --base:#efe6d5;
    --highlights:#9dbeb7;
    --darks:#e73213;
}

.screen{
    opacity:20%;
    height:100%;
    width:90%;
    position:absolute;
    z-index:-1;
    border-radius:20%
}

#first{
    background:var(--highlights);
    left:0;
    top:5rem;
}

#second{
    background:var(--darks);
    top:-1rem;
    left:1.5rem;
}

/*styling the view section*/
#view{
    padding:2rem;
    position:relative;
    margin:1rem;
}

#movie_list{
    background:var(--darks);
    height:100%;
    width:50%;
    position:absolute;
    right:2rem;
    top:0;
    border-radius:30%;
}

#selector{
    background:var(--highlights);
    height:50%;
    width:20%;
    margin-left:10px;
    position:absolute;
    right:45%;
    top:20%;
    z-index:2;
    border-radius:50%;
    display:none;
}

/*styling the interact section and all forms*/
#interact{
    padding:2rem;
    position:relative;
    margin:1rem;
}

form{
    width:70%;
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    gap:0.2rem;
}

label{
    font-weight:bold;
    margin-top:0.8rem;
}

.input{
    width:25rem;
    height:2rem;
    border:none;
}

button{
    height:3rem;
    width:5rem;
    font-weight:bold;
    margin:1rem;
    border:none;
    background:var(--base);
    border-radius:50%;
}

button:hover{
    transform:scale(1.5) rotate(15deg);
}